{
  "parser": "@babel/eslint-parser",
  "extends": [ "@borgar/eslint-config", "@borgar/eslint-config/jsdoc" ],
  "env": {
    "es6": true,
    "node": true,
  },
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module",
    "requireConfigFile": false,
  },
  "rules": {
    "no-trailing-spaces": [ "error", {
      "ignoreComments": true
    } ],
    "jsdoc/no-undefined-types": "off"
  },
  "globals": {
    "Promise"
  }
}
