{
  "parser": "@babel/eslint-parser",
  "extends": [ "@borgar/eslint-config" ],
  "env": {
    "es6": true,
    "node": true,
  },
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module",
    "requireConfigFile": false,
  },
  "rules": {
    "max-len": [ "error", {
      "code": 120,
      "comments": 80,
      "tabWidth": 2,
      "ignoreUrls": true,
      "ignoreStrings": true,
      "ignoreTemplateLiterals": true,
      "ignoreRegExpLiterals": true,
      "ignorePattern": "^\\s*\\*\\s*@(param|return|property)\\s"
    } ],
    "no-trailing-spaces": [ "error", {
      "ignoreComments": true
    } ]
  },
  "globals": {
    "Promise"
  }
}
